.swiper {
  width: 100%;
  height: 100%;

  .swiper-button-prev {
    margin-left: 2em;
  }

  .swiper-button-next {
    margin-right: 2em;
  }

  .swiper-button-next,
  .swiper-button-prev {
    &:hover {
      opacity: 0.6;
    }
  }
}

.card {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: background-color 300ms ease-in-out;

  &:hover {
    background-color: #eee;
  }

  .group-date {
    font-size: 2rem;

    .day {
      font-weight: bold;
    }
  }

  .icon {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: auto;
    display: inline-block;
  }

  .weather-icon {
    width: 100%;
    height: 164px;
  }

  .temp-and-wind-info {
    font-size: 1.3rem;

    .temp-label {
      padding: 0.5rem;
      display: block;
    }

    .wind-info {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
