.scroll-items {
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 100%;

  .item {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
    min-width: 200px;

    .card {
      width: 100%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-self: center;

      .group-date {
        font-size: 2rem;

        .day {
          font-weight: bold;
        }
      }

      .icon {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: auto;
        display: inline-block;
      }

      .weather-icon {
        width: 100%;
        height: 164px;
      }

      .arrow-up {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        fill: currentColor;
      }

      .group-temp {
        font-size: 1.3rem;

        .min-temp,
        .max-temp {
          padding: 0.5rem;
        }

        .min-temp {
          color: #56a0ee;
        }

        .max-temp {
          color: #ee5656;
        }
      }
    }
  }
}
