:host {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  fill: currentColor;
  margin-right: 1rem;

  &.big {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50px;
    height: 115px;
    margin: 20px auto;
  }
}
