<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ city?.name }}
      <ng-container *ngIf="city?.postal_code"> - {{ city?.postal_code }} </ng-container>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment>
    <ion-segment-button value="friends">
      <ion-label routerLink="/fortnight">{{'PAGES.CITY.TABS.MAIN' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label routerLink="/dayli">{{'PAGES.CITY.TABS.SECOND' | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-content>
