<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PAGES.SEARCH.TITLE' | translate }}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-list-loader
    [isLoading]="isLoading"
    [isEmpty]="searchResults?.length === 0"
    [emptyMessage]="'PAGES.SEARCH.EMPTY_LIST-MESSAGE' | translate"
  ></app-list-loader>
  <ion-list *ngFor="let searchResult of searchResults">
    <ion-item>
      <ion-icon name="location" slot="start"></ion-icon>
      <ion-label>
        <h2>{{searchResult.city}}</h2>
        <div>{{searchResult.zipcode}}</div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
