.search-toolbar {
  overflow: hidden;
  position: absolute;
}

.map {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: transparent;

  .map-svg {
    height: 80vh;
    display: block;
    margin: auto;

    .land {
      fill: seagreen;
      fill-opacity: 1;
      stroke: white;
      stroke-opacity: 1;
      stroke-width: 0.5;
    }

    .city-container {
      fill: var(--ion-color-map-city-background);
      fill-opacity: 0.8;
      stroke-width: 1;
    }

    .city-overlay {
      fill-opacity: 0;
      cursor: pointer;
      transition: fill-opacity ease-in-out 0.3s;

      &:hover {
        fill-opacity: 0.3;
      }
    }
    text {
      fill: var(--ion-text-color);

      &.city-name {
        font-weight: bold;
      }
    }
  }
}
