<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{'GLOBAL.APP_TITLE' | translate}}</ion-title>
    <app-toggle-dark-theme slot="end"></app-toggle-dark-theme>
    <ion-buttons slot="end">
      <ion-button (click)="allowSearch()">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar [@openClose]="isSearching ? 'open' : 'closed'" color="primary" class="search-toolbar">
    <ion-buttons slot="end">
      <ion-button (click)="hideSearchbar()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar [placeholder]="'PAGES.SEARCH.SEARCHBAR-PLACEHOLDER' | translate" #searchbarInput></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-map (goToCity)="goToCity($event)" [cities]="cities"></app-map>
</ion-content>
