<ion-content>
  <ion-grid fixed>
    <ion-row scrollY="true" class="scroll-items">
      <ion-col *ngIf="currentDayForecast">
        <ion-text class="date ion-text-center ion-text-uppercase" color="primary">
          <div class="day ion-padding-top">{{currentDayForecast.dt * 1000 | date: 'E':'':'fr-FR' | titlecase}}</div>
          <div class="date ion-padding-bottom">{{currentDayForecast.dt * 1000 | date: 'dd':'':'fr-FR'}}</div>
        </ion-text>
        <ion-grid>
          <ion-row class="ion-align-items-center temp-and-wind-info">
            <ion-col class="ion-text-center">
              <app-weather-icon [icon]="currentDayForecast.weather[0].icon"></app-weather-icon>

              <div>{{currentDayForecast.weather[0].description}}</div>
            </ion-col>
            <ion-col class="ion-text-center">
              <div class="wind-arrow">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  [style]="'transform: rotate(' + currentDayForecast.wind_deg + 'deg)'"
                  preserveAspectRatio="xMidYMid meet"
                  viewBox="0 0 100 100"
                >
                  <path id="arrow" d="M 50,0 L 100,100 L 50,70 L 0,100" />
                </svg>
              </div>
              <div>{{currentDayForecast.wind_speed | number: '1.0-0':'fr'}} km/h</div>
              <div>
                {{ 'PAGES.CITY.ONE_DAY.WIND.GUSTS' | translate }} {{currentDayForecast.wind_gust | number:
                '1.0-0':'fr'}} km/h
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-card class="ion-margin-vertical">
          <ion-card-header>
            <h2>{{'PAGES.CITY.ONE_DAY.TIME_OF_DAY.MORNING' | translate }}</h2>
          </ion-card-header>
          <ion-card-content>
            <ion-text class="ion-text-center">
              <div class="real-temp">{{currentDayForecast.temp.morn | number: '1.0-0':'fr'}}°C</div>
              <div>
                {{ 'PAGES.CITY.ONE_DAY.TEMPERATURE.FEEL_LIKE' | translate }} {{currentDayForecast.feels_like.morn |
                number: '1.0-0':'fr'}}°C
              </div>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card class="ion-margin-vertical">
          <ion-card-header>
            <h2>{{'PAGES.CITY.ONE_DAY.TIME_OF_DAY.AFTERNOON' | translate }}</h2>
          </ion-card-header>
          <ion-card-content>
            <ion-text class="ion-text-center">
              <div class="real-temp">{{currentDayForecast.temp.day | number: '1.0-0':'fr'}}°C</div>
              <div>
                {{ 'PAGES.CITY.ONE_DAY.TEMPERATURE.FEEL_LIKE' | translate }} {{currentDayForecast.feels_like.morn |
                number: '1.0-0':'fr'}}°C
              </div>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card class="ion-margin-vertical">
          <ion-card-header>
            <h2>{{'PAGES.CITY.ONE_DAY.TIME_OF_DAY.EVENING' | translate }}</h2>
          </ion-card-header>
          <ion-card-content>
            <ion-text class="ion-text-center">
              <div class="real-temp">{{currentDayForecast.temp.eve | number: '1.0-0':'fr'}}°C</div>
              <div>
                {{ 'PAGES.CITY.ONE_DAY.TEMPERATURE.FEEL_LIKE' | translate }} {{currentDayForecast.feels_like.eve |
                number: '1.0-0':'fr'}}°C
              </div>
            </ion-text>
          </ion-card-content>
        </ion-card>
        <ion-card class="ion-margin-vertical">
          <ion-card-header>
            <h2>{{'PAGES.CITY.ONE_DAY.TIME_OF_DAY.NIGHT' | translate }}</h2>
          </ion-card-header>
          <ion-card-content>
            <ion-text class="ion-text-center">
              <div class="real-temp">{{currentDayForecast.temp.night | number: '1.0-0':'fr'}}°C</div>
              <div>
                {{ 'PAGES.CITY.ONE_DAY.TEMPERATURE.FEEL_LIKE' | translate }} {{currentDayForecast.feels_like.night |
                number: '1.0-0':'fr'}}°C
              </div>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
