.scroll-items {
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 100%;
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
  display: inline-block;
}

.real-temp {
  font-size: 2.8rem;
}

.temp-and-wind-info {
  font-size: 1.3rem;
}

.date {
  font-size: 2rem;
}
